<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Simple">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
		<listener class-name="listeners.CustomListeners"></listener>
	</listeners>
	<test name="Bank Manager Login Test" preserve-order="true">
		<classes>
			<class name="testcases.BankManagerLoginTest">
			</class>
		</classes>
	</test> 
	<test name="Open Account Test" preserve-order="true">
		<classes>
			<class name="testcases.OpenAccountTest">
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
